<div class="center-container">
    <div class="main">
        <h1 class="w3layouts_head">Election Registration Form</h1>
        <div class="w3layouts_main_grid">
            <form action="#" method="post" class="w3_form_post">
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>First Name </label>
								<input type="text" name="Task" placeholder="First Name" required="">
							</span>
                </div>
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Middle Name </label>
								<input type="text" name="Task" placeholder="Middle Name" required="">
							</span>
                </div>
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Last Name </label>
								<input type="text" name="Task" placeholder="Last Name" required="">
							</span>
                </div>
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Barangay</label>
								<input type="text" name="Task" placeholder="Barangay" required="">
							</span>
                </div>
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>No.of persons </label>
								<select name="country">
									<option value="none" selected="" disabled="">Select numbers</option>
									<option value="Ph">50</option>
									<option value="Po">100</option>
									<option value="So">200</option>
									<option value="Sp">500</option>
									<option value="Sw">1000</option>
								</select>
							</span>
                </div>
                <div class="agileits_w3layouts_main_grid w3ls_main_grid">
							<span class="agileinfo_grid">
								<label>Birthday</label>
								<div class="agileits_w3layouts_main_gridl">
									<input class="date" id="datepicker" name="Text" type="text" value="yyyy-MM-dd" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
								</div>
							</span>
                </div><br>
                <div class="content-w3ls">
                    <div class="form-w3ls">
                        <div class="content-wthree2">
                            <div class="grid-w3layouts1">
                                <div class="w3-agile1">
                                    <label>Gender</label>
                                    <ul>
                                        <li>
                                            <input type="radio" id="a-option" name="selector1" required />
                                            <label for="a-option">Male </label>
                                            <div class="check"></div>
                                        </li>
                                        <li>
                                            <input type="radio" id="b-option" name="selector1" >
                                            <label for="b-option">Female</label>
                                            <div class="check"><div class="inside"></div></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="w3_main_grid">
                    <div class="w3_main_grid_right">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <!-- Calendar -->
        <link rel="stylesheet" href="css/jquery-ui.css" />
        <script src="js/jquery-ui.js"></script>
        <script>
            $(function() {
                $( "#datepicker" ).datepicker();
            });
        </script>
        <!-- //Calendar -->
        <!--<div class="w3layouts_copy_right">-->
            <!--<div class="container">-->
                <!--<p>© 2017 Event Registration Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>