<div class="center-container">
    <div class="main">
        <h1 class="w3layouts_head">Election Registration Form</h1>
        <div class="w3layouts_main_grid">
            <form ng-submit="regctrl.submit()" class="w3_form_post">
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>First Name </label>
								<input ng-model="regctrl.voter.firstname" type="text" placeholder="First Name" required="">
							</span>
                </div>
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Middle Name </label>
								<input ng-model="regctrl.voter.middlename" type="text" placeholder="Middle Name" required="">
							</span>
                </div>
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Last Name </label>
								<input ng-model="regctrl.voter.lastname" type="text" placeholder="Last Name" required="">
							</span>
                </div>
                <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Barangay</label>
								<select  name="barangay" ng-model="regctrl.voter.barangay">
									<option value="none" selected="" disabled="">Select barangay</option>
									<option ng-repeat="barangay in regctrl.populateBarangay()">{{barangay}}</option>
								</select>
							</span>
                </div>
                <div class="agileits_w3layouts_main_grid w3ls_main_grid">
							<span class="agileinfo_grid">
								<label>Birthday</label>
								<div class="agileits_w3layouts_main_gridl">
									<input ng-model="regctrl.voter.birthday" class="date" id="datepicker" name="Text" type="text" placeholder="yyyy-MM-dd"  required="">
								</div>
							</span>
                </div><br>
                <div class="content-w3ls">
                    <div class="form-w3ls">
                        <div class="content-wthree2">
                            <div class="grid-w3layouts1">
                                <div class="w3-agile1">
                                    <label>Gender</label>
                                    <ul><br>
                                        <div class="radio">
                                            <label><input ng-model ="regctrl.voter.gender" type="radio" value="M" name="optradio" checked> Male</label>
                                        </div><br>
                                        <div class="radio">
                                            <label><input ng-model ="regctrl.voter.gender" type="radio" value="F" name="optradio"> Female</label>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="w3_main_grid">
                    <div class="w3_main_grid_right">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <!-- Calendar -->
        <link rel="stylesheet" href="css/jquery-ui.css" />
        <script src="js/jquery-ui.js"></script>
        <script>
            $(function() {
                $( "#datepicker" ).datepicker();
            });
        </script>
        <!-- //Calendar -->
        <!--<div class="w3layouts_copy_right">-->
            <!--<div class="container">-->
                <!--<p>© 2017 Event Registration Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>